mixin header()
  .header
    != pugHelpers.Icon.call(locals, {iconName: 'vk-icon', className: 'social__icon', iconWidth: '18', iconHeight: '16'})

    != pugHelpers.Icon.call(locals, {iconName: 'logo-med', className: 'logo', iconWidth: '141', iconHeight: '38'})



    